{% extends 'CULabsAdminBundle:Crud:view.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/coreplato/css/plato_admin.css') }}" type="text/css" media="screen" title="default" />
{% endblock %}

{% block title_page %}{{ 'New Plato'|trans }}{% endblock %}

{% block actions %}
    <ul class="actions">
        <li>
            <a href="{{ path('admin_plato') }}" class="btn btn-icon btn-info">     
              <i class="icon-list"></i>{{ 'List'|trans }} 
            </a>
        </li>
    </ul>
{% endblock %}
    
{% block view_body %}
    {% include 'CorePlatoBundle:PlatoCRUD:form.html.twig' with { 
        'form': form,
    } %}
{% endblock %}