{% extends 'CULabsAdminBundle:Crud:list.html.twig' %}

{% block route_batch %}{{ path('admin_plan_batch') }}{% endblock %}

{% block header_table %}
{% import 'CULabsAdminBundle:Crud:macros.html.twig' as macros %}
<tr>
    <th class="checkall batch"><input type="checkbox" onchange="admin_list_checkall(this, '#Plan_list .check input')"/></th>
    <th>{{ macros.sort_field('Fecha'|trans, 'fecha', sort, 'ajax_Plan', 'admin_plan_sort', 'indicator_table_Plan') }}</th> 
    <th>{{ 'Cantidad raciones'|trans }}</th>
    <th>{{ 'Options'|trans }}</th>
</tr>
{% endblock %}

{% block body_table %}
    {% for entity in pager %}
    <tr id="row_{{ loop.index }}" onclick="admin_list_checkrow('#' + this.id + ' .check input')">
        <td class="check"><input type="checkbox" value="{{ entity.id }}" name="ids[]"/></td>
        <td><a href="{{ path('admin_plan_show', { 'id': entity.id }) }}">{% if entity.fecha %}{{ entity.fecha|date('d/m/Y') }}{% endif%}</a></td>
        <td>{{ entity.cantidadRaciones }}</td>
        <td class="opcions span6">
            <ul>                  
                <li>
                    {% if is_granted('ROLE_PLAN_SHOW') %}
                    <a class="btn btn-icon btn-info btn-small" href="{{ path('admin_plan_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-open"></i>{{ 'show'|trans }}
                    </a>
                    {% endif %}
                </li>                  
                <li>
                    {% if is_granted('ROLE_PLAN_EDIT') %}
                    <a class="btn btn-icon btn-info btn-small" href="{{ path('admin_plan_edit', { 'id': entity.id }) }}">
                        <i class="icon-pencil"></i>{{ 'edit'|trans }}
                    </a>
                    {% endif %}
                </li>                  
                <li>
                    {% if is_granted('ROLE_PLAN_LIST_COMPRA') %}
                    <a class="btn btn-icon btn-info btn-small" href="{{ path('admin_plan_list_compra', { 'id': entity.id }) }}">
                        <i class="icon-filter"></i>{{ 'Lista compra'|trans }}
                    </a>                                      
                    {% endif %}                    
                </li>                
                <li>
                    {% if is_granted('ROLE_PLAN_DELETE') %}
                    <a class="btn btn-icon btn-danger btn-small" href="#" onclick="confirmarUrl('{{ 'Realmente desea borrar'|trans }}', '{{ path('admin_plan_delete', { 'id': entity.id }) }}')">
                        <i class="icon-remove"></i>{{ 'delete'|trans }}
                    </a>                                      
                    {% endif %}                    
                </li>                
            </ul>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
 
{% block footer_table %}
    <div class="batch">
        {% if is_granted('ROLE_PLAN_DELETE') %}
        <select name="batch_action" class="batch_actions">
            <option value="">{{'Select a action'|trans}}</option>
            <option value="delete">{{'Delete'|trans}}</option>
        </select>
        <input type="submit" class="btn btn-primary" value="{{'Ok'|trans}}"/>
        {% endif %}
        <div class="loader">
            <img style="display: none" id="indicator_table_Plan" src="{{ asset('bundles/culabsadmin/images/loader.gif') }}"/>
        </div>
    </div>
    {% include 'CULabsAdminBundle:Crud:pager.html.twig' with { 
        'pager':                pager,
        'zona':                 'ajax_Plan',
        'url':                  path('admin_plan'),
        'url_changemaxperpage': path('admin_plan_changemaxperpage'),
        'maxperpage_list':      [10,20,30,50, 100],
    } %}
{% endblock %}