{% extends 'CULabsAdminBundle:Crud:view.html.twig' %}

{% block title_page %}{{ 'Detail User'|trans }}{% endblock %}

{% block actions %}
    <div class="table-header">
        <ul class="actions">
            <li>
                <a href="{{ path('admin_user') }}" class="btn btn-icon btn-info">     
                    <i class="icon-list"></i>{{ 'List'|trans }}  
                </a>
            </li>
            {% if is_granted('ROLE_USER_EDIT') %}
            <li>
                <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-icon btn-info">     
                <i class="icon-pencil"></i>{{ 'Edit'|trans }}  
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER_NEW') %}
            <li>
                <a href="{{ path('admin_user_new') }}" class="btn btn-icon btn-info">     
                <i class="icon-plus"></i>{{ 'New'|trans }}  
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER_DELETE') %}
            <li>
                <a href="#" onclick="confirmarUrl('{{ 'Realmente desea borrar'|trans }}', '{{ path('admin_user_delete', { 'id': entity.id }) }}')" class="btn btn-icon btn-danger">     
                <i class="icon-remove"></i>{{ 'Delete'|trans }}  
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
    
{% block view_body %}
<table class="table table-bordered table-hover table-striped">        
    <tr>
        <th class="span2">{{ 'Username'|trans }}</th>
        <td>
            {{ entity.username }}
        </td>
    </tr>      
    <tr>
        <th class="span2">{{ 'Email'|trans }}</th>
        <td>
            {{ entity.email }}
        </td>
    </tr>       
    <tr>
        <th class="span2">{{ 'Enabled'|trans }}</th>
        <td>
            {% if entity.enabled %}
                {{ 'Si'|trans }}
            {% else %}
                {{ 'No'|trans }}
            {% endif %}
        </td>
    </tr>       
    <tr>
        <th class="span2">{{ 'Lastlogin'|trans }}</th>
        <td>
            {{ entity.lastLogin|date('Y-m-d H:i:s') }}
        </td>
    </tr>        
    <tr>
        <th class="span2">{{ 'Locked'|trans }}</th>
        <td>
            {% if entity.locked %}
                {{ 'Si'|trans }}
            {% else %}
                {{ 'No'|trans }}
            {% endif %}
        </td>
    </tr> 
</table>
{% endblock %}